@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
    @apply text-gray-800;

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  .animate-loading {
    width: 1px;
    height: 3vh;
    position: relative;
    overflow: hidden;
    margin-inline: auto;
    height: 36px;
  }

  .animate-loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-animation: scrollDownBarAnimation 2s infinite
      cubic-bezier(1, 0, 0, 1);
    animation: scrollDownBarAnimation 2s infinite cubic-bezier(1, 0, 0, 1);
  }

  @keyframes scrollDownBarAnimation {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    30%,
    50% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-in-out;
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }

  .animation-delay-600 {
    animation-delay: 0.6s;
  }

  .animation-delay-800 {
    animation-delay: 0.8s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
